.196_0 { 
	overflow:hidden;
}.e196_0 { 
	background-color:rgba(255, 255, 255, 1);
	width:1366px;
	height:931px;
	position:absolute;
}.e196_1 { 
	background-color:rgba(238.00000101327896, 180.00000447034836, 1.0000000591389835, 1);
	width:1366px;
	height:126px;
	position:absolute;
	left:0px;
	top:0px;
}.e196_2 { 
	width:122px;
	height:107.030029296875px;
	position:absolute;
	left:30px;
	top:8.541259765625px;
}.e196_3 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:122px;
	height:55px;
	position:absolute;
	left:0px;
	top:27.458730697631836px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e196_4 { 
	transform: rotate(-16.499998868479608deg);
	opacity:0.3100000023841858;
	width:86.11764526367188px;
	height:86.11764526367188px;
	position:absolute;
	left:1.43408203125px;
	top:24.458730697631836px;
}.e196_5 { 
	transform: rotate(-16.499998868479608deg);
	width:86.11764526367188px;
	height:86.11766052246094px;
	position:absolute;
	left:0px;
	top:0px;
}.e196_6 { 
	width:86.11764526367188px;
	height:86.11766052246094px;
	position:absolute;
	left:0px;
	top:0px;
}.e196_7 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:78.94120025634766px;
	height:68.17648315429688px;
	position:absolute;
	left:3.5881993770599365px;
	top:10.764735221862793px;
}.e196_8 { 
	width:122px;
	height:107.030029296875px;
	position:absolute;
	left:176px;
	top:751px;
}.e196_9 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:122px;
	height:55px;
	position:absolute;
	left:0px;
	top:27.458730697631836px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e196_10 { 
	transform: rotate(-16.499998868479608deg);
	opacity:0.3100000023841858;
	width:86.11764526367188px;
	height:86.11764526367188px;
	position:absolute;
	left:1.43408203125px;
	top:24.458730697631836px;
}.e196_11 { 
	transform: rotate(-16.499998868479608deg);
	width:86.11764526367188px;
	height:86.11766052246094px;
	position:absolute;
	left:0px;
	top:0px;
}.e196_12 { 
	width:86.11764526367188px;
	height:86.11766052246094px;
	position:absolute;
	left:0px;
	top:0px;
}.e196_13 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:78.94120025634766px;
	height:68.17648315429688px;
	position:absolute;
	left:3.5881993770599365px;
	top:10.764735221862793px;
}.e196_14 { 
	width:415px;
	height:42px;
	position:absolute;
	left:253px;
	top:42px;
}.e196_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:415px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.e196_16 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	opacity:0.800000011920929;
	width:110px;
	height:16px;
	position:absolute;
	left:20px;
	top:12.999993324279785px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_17 { 
	transform: rotate(89.99999693897087deg);
	opacity:0.800000011920929;
	width:24px;
	height:0px;
	position:absolute;
	left:359px;
	top:8.999984741210938px;
}.196_17 { 
	border:1px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}.e196_18 { 
	width:24px;
	height:24px;
	position:absolute;
	left:375px;
	top:9px;
}.e196_19 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.ei196_19_1_182 { 
	width:20.263999938964844px;
	height:20.721698760986328px;
	position:absolute;
	left:2px;
	top:2px;
}.ei196_19_1_183 { 
	width:19.4768009185791px;
	height:19.476999282836914px;
	position:absolute;
	left:0px;
	top:0px;
}.i196_19_1_184 { 
	overflow:hidden;
}.ei196_19_1_184 { 
	background-color:rgba(0, 0, 0, 1);
	width:19.4768009185791px;
	height:19.476999282836914px;
	position:absolute;
	left:0px;
	top:0px;
}.ei196_19_1_185 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:19.476999282836914px;
	height:19.476999282836914px;
	position:absolute;
	left:-0.00019999999494757503px;
	top:0px;
}.ei196_19_1_186 { 
	width:16.476999282836914px;
	height:16.476999282836914px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}.ei196_19_1_187 { 
	width:19.476999282836914px;
	height:19.476999282836914px;
	position:absolute;
	left:0px;
	top:0px;
}.ei196_19_1_188 { 
	width:5.024050712585449px;
	height:5.014750003814697px;
	position:absolute;
	left:15.239949226379395px;
	top:15.706949234008789px;
}.i196_19_1_189 { 
	overflow:hidden;
}.ei196_19_1_189 { 
	background-color:rgba(0, 0, 0, 1);
	width:5.024050712585449px;
	height:5.014750003814697px;
	position:absolute;
	left:0px;
	top:0px;
}.ei196_19_1_190 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:5.024501323699951px;
	height:5.014750003814697px;
	position:absolute;
	left:0px;
	top:0px;
}.e196_20 { 
	opacity:0.6000000238418579;
	width:972px;
	height:0px;
	position:absolute;
	left:253px;
	top:180px;
}.196_20 { 
	border:1px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}.e196_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:1366px;
	height:593px;
	position:absolute;
	left:0px;
	top:575px;
}.e196_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:972px;
	height:461px;
	position:absolute;
	left:253px;
	top: 360px;
}.e196_23 { 
	width:697px;
	height:82px;
	position:absolute;
	left:365px;
	top:575px;
}.e196_24 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:111px;
	height:42px;
	position:absolute;
	left:445px;
	top:21px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.196_24 { 
	border:2px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}.196_25 { 
	border:1px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}
.e196_25 {
	width: 111px;
	height: 42px;
	position: absolute;
	left: 586px;
	top: 21px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid #142C5C;
	box-sizing: border-box;
	border-radius: 3px;
}.e196_26 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:16px;
	position:absolute;
	left:467px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_27 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:48px;
	height:16px;
	position:absolute;
	left:618px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_28 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:273px;
	height:16px;
	position:absolute;
	left:112px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_29 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:165px;
	height:16px;
	position:absolute;
	left:112px;
	top:61px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_30 { 
	border-radius:500px;
	width:82px;
	height:82px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ellipse_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e196_31 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:218px;
	height:21px;
	position:absolute;
	left:112px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e196_32 { 
	width:697px;
	height:82px;
	position:absolute;
	left:364px;
	top:348px;
}.e196_33 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:111px;
	height:42px;
	position:absolute;
	left:445px;
	top:21px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.196_33 { 
	border:2px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}.196_34 { 
	border:1px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}
.e196_34 {
	width: 111px;
	height: 42px;
	position: absolute;
	left: 586px;
	top: 21px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid #142C5C;
	box-sizing: border-box;
	border-radius: 3px;
}.e196_35 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:16px;
	position:absolute;
	left:467px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_36 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:48px;
	height:16px;
	position:absolute;
	left:618px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_37 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:273px;
	height:16px;
	position:absolute;
	left:112px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_38 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:165px;
	height:16px;
	position:absolute;
	left:112px;
	top:61px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_39 { 
	border-radius:500px;
	width:82px;
	height:82px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ellipse_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e196_40 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:218px;
	height:21px;
	position:absolute;
	left:112px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e196_41 { 
	width:697px;
	height:82px;
	position:absolute;
	left:364px;
	top:462px;
}.e196_42 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:111px;
	height:42px;
	position:absolute;
	left:445px;
	top:21px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.196_42 { 
	border:2px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}.196_43 { 
	border:1px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}
.e196_43 {
	width: 111px;
	height: 42px;
	position: absolute;
	left: 586px;
	top: 21px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid #142C5C;
	box-sizing: border-box;
	border-radius: 3px;
}.e196_44 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:16px;
	position:absolute;
	left:467px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_45 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:48px;
	height:16px;
	position:absolute;
	left:618px;
	top:34px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_46 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:273px;
	height:16px;
	position:absolute;
	left:112px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_47 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:165px;
	height:16px;
	position:absolute;
	left:112px;
	top:61px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_48 { 
	border-radius:500px;
	width:82px;
	height:82px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ellipse_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e196_49 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:218px;
	height:21px;
	position:absolute;
	left:112px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e196_50 {
	color: rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width: 64px;
	height: 21px;
	position: absolute;
	left: 356px;
	top: 300px;
	font-family: Roboto;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
	font-weight: bold;
}.e196_51 { 
	background-color:rgba(238.00000101327896, 180.00000447034836, 1.0000000591389835, 1);
	width:120px;
	height:42px;
	position:absolute;
	left:679px;
	top:700px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.e196_52 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:65px;
	height:16px;
	position:absolute;
	left:707px;
	top:712px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.196_53 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e196_53 { 
	width:749px;
	height:0px;
	position:absolute;
	left:364px;
	top:332px;
}.196_54 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e196_54 { 
	width:749px;
	height:0px;
	position:absolute;
	left:364px;
	top:446px;
}.196_55 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e196_55 { 
	width:749px;
	height:0px;
	position:absolute;
	left:364px;
	top:560px;
}.e196_56 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:46px;
	height:16px;
	position:absolute;
	left:475px;
	top:757.08203125px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_57 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:97px;
	height:16px;
	position:absolute;
	left:809px;
	top:757.08203125px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_58 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:219px;
	height:16px;
	position:absolute;
	left:141px;
	top:869.08203125px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_59 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:219px;
	height:32px;
	position:absolute;
	left:501px;
	top:797.08203125px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_60 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:188px;
	height:16px;
	position:absolute;
	left:501px;
	top:841.08203125px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_61 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:79px;
	height:16px;
	position:absolute;
	left:501px;
	top:869.08203125px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_62 { 
	width:14px;
	height:14px;
	position:absolute;
	left:475px;
	top:871.08203125px;
}.e196_63 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}.ei196_63_1_404 { 
	width:11.958091735839844px;
	height:11.958041191101074px;
	position:absolute;
	left:1.1668789386749268px;
	top:1.1667649745941162px;
}.i196_63_1_405 { 
	overflow:hidden;
}.ei196_63_1_405 { 
	background-color:rgba(0, 0, 0, 1);
	width:11.958091735839844px;
	height:11.958041191101074px;
	position:absolute;
	left:0px;
	top:0px;
}.ei196_63_1_406 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:11.958489418029785px;
	height:11.958423614501953px;
	position:absolute;
	left:0px;
	top:-0.00039899349212646484px;
}.ei196_63_1_407 { 
	width:10.208966255187988px;
	height:10.208332061767578px;
	position:absolute;
	left:0.8750340938568115px;
	top:0.8751026391983032px;
}.ei196_63_1_408 { 
	width:11.958489418029785px;
	height:11.958423614501953px;
	position:absolute;
	left:0px;
	top:-1.7763568394002505e-15px;
}.e196_64 { 
	width:14px;
	height:14px;
	position:absolute;
	left:475px;
	top:843.08203125px;
}.e196_65 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}.ei196_65_1_758 { 
	width:12.541609764099121px;
	height:11.374999046325684px;
	position:absolute;
	left:0.5833333730697632px;
	top:1.1666667461395264px;
}.ei196_65_1_759 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:7.749192714691162px;
	height:3.274783134460449px;
	position:absolute;
	left:2.4023265838623047px;
	top:3.4130403995513916px;
}.ei196_65_1_760 { 
	width:12.541609764099121px;
	height:11.374999046325684px;
	position:absolute;
	left:0px;
	top:0px;
}.i196_65_1_761 { 
	overflow:hidden;
}.ei196_65_1_761 { 
	background-color:rgba(0, 0, 0, 1);
	width:12.541609764099121px;
	height:11.374999046325684px;
	position:absolute;
	left:0px;
	top:0px;
}.ei196_65_1_762 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:12.541666030883789px;
	height:11.374999046325684px;
	position:absolute;
	left:-0.00010001659393310547px;
	top:0px;
}.ei196_65_1_763 { 
	width:10.791666984558105px;
	height:9.625px;
	position:absolute;
	left:0.8749998807907104px;
	top:0.8749997615814209px;
}.ei196_65_1_764 { 
	width:12.541666030883789px;
	height:11.374999046325684px;
	position:absolute;
	left:0px;
	top:0px;
}.e196_66 { 
	width:14px;
	height:14px;
	position:absolute;
	left:475px;
	top:797.08203125px;
}.e196_67 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}.ei196_67_1_848 { 
	width:9.62470817565918px;
	height:11.374999046325684px;
	position:absolute;
	left:2.3333334922790527px;
	top:1.1666667461395264px;
}.ei196_67_1_849 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:3.7916665077209473px;
	height:3.7916669845581055px;
	position:absolute;
	left:2.916963577270508px;
	top:2.916666269302368px;
}.ei196_67_1_850 { 
	width:2.0416665077209473px;
	height:2.0416669845581055px;
	position:absolute;
	left:0.875px;
	top:0.875px;
}.ei196_67_1_851 { 
	width:3.7916665077209473px;
	height:3.7916669845581055px;
	position:absolute;
	left:0px;
	top:0px;
}.ei196_67_1_852 { 
	width:9.62470817565918px;
	height:11.374999046325684px;
	position:absolute;
	left:0px;
	top:0px;
}.i196_67_1_853 { 
	overflow:hidden;
}.ei196_67_1_853 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.62470817565918px;
	height:11.374999046325684px;
	position:absolute;
	left:0px;
	top:0px;
}.ei196_67_1_854 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:9.625px;
	height:11.374999046325684px;
	position:absolute;
	left:-0.0002968311309814453px;
	top:0px;
}.ei196_67_1_855 { 
	width:7.875px;
	height:9.62266731262207px;
	position:absolute;
	left:0.875px;
	top:0.8749997615814209px;
}.ei196_67_1_856 { 
	width:9.625px;
	height:11.374999046325684px;
	position:absolute;
	left:0px;
	top:0px;
}.e196_68 { 
	background-color:rgba(255, 255, 255, 1);
	width:416px;
	height:42px;
	position:absolute;
	left:809px;
	top:797.08203125px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.196_68 { 
	border:1px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}.e196_69 { 
	background-color:rgba(255, 255, 255, 1);
	width:322px;
	height:42px;
	position:absolute;
	left:809px;
	top:852.08203125px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.196_69 { 
	border:1px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}.e196_70 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	opacity:0.800000011920929;
	width:238px;
	height:16px;
	position:absolute;
	left:833px;
	top:810.08203125px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_71 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	opacity:0.800000011920929;
	width:67px;
	height:16px;
	position:absolute;
	left:833px;
	top:865.08203125px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e196_72 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:82px;
	height:42px;
	position:absolute;
	left:1143px;
	top:852.08203125px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.196_72 { 
	border:1px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}.e196_73 { 
	color:rgba(255, 255, 255, 1);
	width:22px;
	height:16px;
	position:absolute;
	left:1173px;
	top:865.08203125px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}