
@{
    ViewBag.Title = "thongtinxe";
    Layout = "~/Views/Layout/HomePage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>File Upload Widget Flat Resposive Website Template | Home :: w3layouts</title>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/css/style-thongtinxe.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <script src="~/Content/js/jquery.min.thongtinxe.js"></script>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="File Upload Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body>

    <h1>TRANG ĐĂNG THÔNG TIN XE CHO THUÊ</h1>

    <div class="upload">
        <h3>Thông Tin Xe</h3>
        <div class="login-form">
            <form>
                <div>
                    <span>Tên Xe</span>
                    <input type="text" class="title" value="VD: AirBlade" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'VD: AirBlade';}" />
                </div>
                <div>
                    <span>thêm mô tả</span>
                    <input type="text" class="describe" value="VD: Đời 2019" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'VD: Đời 2019';}" />
                </div>
            </form>

            <form id="upload" method="post" action="upload.php" enctype="multipart/form-data">
                <div id="drop">
                    <a>Chọn ảnh và hiển thị</a>
                    <input type="file" name="upl" multiple />
                </div>


                <ul>
                    <!-- The file uploads will be shown here -->
                </ul>

            </form>
        </div>

        <!-- JavaScript Includes -->
        <script src="~/Content/js/jquery.knob.thongtinxe.js"></script>
        <!-- JavaScript Includes -->
        <!-- jQuery File Upload Dependencies -->
        <script src="~/Content/js/jquery.ui.widget.thongtinxe.js"></script>
        <script src="~/Content/js/jquery.iframe-transport.thongtinxe.js"></script>
        <script src="~/Content/js/jquery.fileupload.thongtinxe.js"></script>
        <!-- jQuery File Upload Dependencies -->
        <!-- Main JavaScript file -->
        <script src="~/Content/js/script.thongtinxe.js"></script>
        <!-- Main JavaScript file -->

    </div>

    <div class="footer">
        <p style="font-weight:bold; color: white"> DESIGN BY 44K21108</p>
    </div>

</body>
</html>

