
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Areas/Content_Admin/styles.css">

    <style>
        /*
            Figma Background for illustrative/preview purposes only.
            You can remove this style tag with no consequence
            */
        body {
            background: #E5E5E5;
        }
    </style>
    <title>New Store A Ecommerce Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <link href="~/content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/content/css/style.css" rel="stylesheet" type="text/css" media="all">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet" type="text/css"><!--//fonts-->
    <!-- start menu -->
    <link href="~/content/css/memenu.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="~/content/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="~/content/js/simpleCart.min.js"></script>
</head>
<body>
    <div class=e196_0>
        <!--header-->
        <div class="header">
            <div class="header-top">
                <div class="container">
                    <div class="divlogo">
                       
                        <img src="~/Content/images/Logo.svg" align="left" onerror="this.onerror=null; this.src='Logo.png' ">
                    </div>

                    <div class="header-left">
                        <ul>
                            <li style="font-weight:bold"><a href="@Url.Action("dangnhap")">Dành cho nhà cung cấp</a></li>
                           
                            <li style="font-weight:bold"><a href="@Url.Action("thongtinxe")">Đăng thông tin xe</a></li>
                        </ul>
                       
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="search">
                <form>
                    <input type="text" value="Tìm kiếm " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tìm kiếm';}">
                    <input type="submit" value="Tìm">
                </form>
            </div>
        </div>
        <div class="e196_20"></div>
        <div class=e196_23>
            <div class="e196_24"></div>
            <div class="e196_25"></div>
            <span class="e196_26">Chấp nhận</span>
            <span class="e196_27">Từ chối</span>
            <span class="e196_28">Địa chỉ: 43 Hai Bà Trưng, Hải Châu, Đà Nẵng</span>
            <span class="e196_29">Ngày yêu cầu: 16/04/2021</span>
            <div class="e196_30"></div><span class="e196_31">Dịch vụ thuê xe Thuận Tiến</span>
        </div>
        <div class=e196_32>
            <div class="e196_33"></div>
            <div class="e196_34"></div>
            <span class="e196_35">Chấp nhận</span>
            <span class="e196_36">Từ chối</span>
            <span class="e196_37">Địa chỉ: 43 Hai Bà Trưng, Hải Châu, Đà Nẵng</span>
            <span class="e196_38">Ngày yêu cầu: 16/04/2021</span>
            <div class="e196_39"></div><span class="e196_40">Dịch vụ thuê xe Thuận Tiến</span>
        </div>
        <div class=e196_41>
            <div class="e196_42"></div>
            <div class="e196_43"></div>
            <span class="e196_44">Chấp nhận</span>
            <span class="e196_45">Từ chối</span>
            <span class="e196_46">Địa chỉ: 43 Hai Bà Trưng, Hải Châu, Đà Nẵng</span>
            <span class="e196_47">Ngày yêu cầu: 16/04/2021</span>
            <div class="e196_48"></div><span class="e196_49">Dịch vụ thuê xe Thuận Tiến</span>
        </div><span class="e196_50">Yêu cầu</span>
        <div class="e196_51"></div><span class="e196_52">Xem thêm</span>
        
        @*<div class="footer">
            <div class="container">
                <div class="footer-top-at">

                    <div class="col-md-4 amet-sed ">
                        <h4>LIÊN HỆ</h4>

                        <p>
                            71 Ngũ Hành Sơn, Bắc Mỹ Phú, Ngũ Hành Sơn, Đà Nẵng
                        </p>
                        <p>contact44k21108@gmail.com</p>
                        <p>0123456789</p>
                        
                    </div>
                    <div class="col-md-4 amet-sed">
                        <h4>Ý KIẾN PHẢN HỒI</h4>
                        <p>
                            Nhập nội dung ý kiến nếu có
                        </p>
                        <form>
                            <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                            <input type="submit" value="Gửi">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="footer-class">
                <p>Da Nang University of Economics | Design by  44K21.1_08 </p>
            </div>
        </div>*@

        @RenderBody()
</body>
</html>
